body{
    background-color: brown;
}

.logo{
    height: 120px;
    width: 120px;
    float: right;
}
 h1{
    color: WHITE;
 }

.campo{
    border: 0px;
    height: 50px;
    width: 200px;
    background-color: pink;
}

.boton{
    background-color: red;
    border-color: white;
}

.boton:hover{
    background-color: rgb(246, 84, 84);
}

.boton:active{
    background-color: white;
}